@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.cuerpo {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

@media (min-width: 720px) {
  .cuerpo {
    grid-template-columns: 18rem auto;
  }
}
