@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.cuerpo {
  display: grid;
  grid-template-columns: 2fr 3fr;
  width: 100%;
  min-height: 100vh;
}

.div-main {
  width: 75vw;
}

@media (min-width: 720px) {
  .cuerpo {
    grid-template-columns: 18rem 1fr;
  }
}

@media (min-width: 1200px) {
  .div-main {
    width: auto;
  }
}

.inputForm {
  transition: ease 0.1s;
  z-index: 1111;
}
.inputForm:focus,
.inputForm:valid {
  color: rgb(79 70 229);
  border: 2px solid rgb(79 70 229);
}

.inputForm:focus + .labelline,
.inputForm:valid + .labelline {
  color: rgb(79 70 229);
  line-height: 1.5rem;
  height: 1.5rem;
  transform: translate(-15px, -22px) scale(0.88);
  z-index: 1111;
}
